node_modules/

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/allure-results/
/allure-report/

.env
.env.*
!config/.env.staging


.DS_Store
.AppleDouble
.LSOverride
._*
Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?